/* Modal styles - opens when game finishes  */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background);
  }
  
.modal-contents {
  /* transform: translateY(-80px); */
  height: 150px;
  width: 100%;
  max-width: 300px;
  background-color: var(--modal-content);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  font-weight: bold;
  margin: 10px;
}

.modal-btn {
  padding: 10px;
  background-color: var(--light-gray);
  color: var(--modal-btn);
  border-radius: 10px;
}